* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/mist.jpg');
  background-size: cover;
}

.left {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('images/world.jpg');
  background-size: cover;
  border-top-left-radius: 2.2rem;
  border-bottom-left-radius: 2.2rem;
}

.left h2 {
  font-weight: 500;
  font-size: 2.5rem;
  width: 50%;
}

.right {
  border-top-right-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
}

.tab-content {
  /* opacity: 50%; */
  border-bottom-right-radius: 2.2rem;
}

#btnSubmit {
  width: 140px;
  height: 45px;
  background-color: white;
  color: rgb(0, 60, 255);
  font-weight: 500;
  border: 2px solid rgb(0, 60, 255);
}

#btnSubmit:hover {
  background-color: rgb(0, 60, 255);
  color: white;
}

#btnSubmit:active {
  background-color: rgb(0, 60, 255);
  color: white;
  filter: brightness(95%);
}

.nav-link {
  color: rgba(0, 0, 0, 0.600) !important;
  font-weight: 400;
  padding: 10px 17px;
}

.nav-link.active {
  color: #234CAD !important;
  font-weight: 700;
}

.nav-link.active:hover {
  color: #234CAD !important;
  font-weight: 700;
}

.nav-link:hover {
  color: #234CAD !important;
  font-weight: 500;
}

#city {
  font-size: 24px;
  font-weight: 600;
}

#dates {
  font-size: 16px;
  font-weight: 400;
}

#temp-day, #temp-hours {
  font-weight: 500;
  font-size: 64px;
  margin-top: -30px;
  height: 30px;
}

.condition {
  margin-left: -30px;
}

.condition img {
  margin-top: -30px;
  width: 140px;
  height: 140px;
}

#conditions-day, #conditions-hours {
  margin-top: -5px;
  font-size: 18px;
  font-weight: 500;
}



@media (max-width: 576px) {
  .hours-data .col-md-3 {
      width: 50%;
  }
}

@media (max-width: 768px) {
  .condition {
      margin-left: 0px;
  }

  .hours-data .hum-sec {
      border-right: none !important;
  }
}

@media (max-width: 991px) {
  .left {
      background-position: center;
      background-repeat: no-repeat;
      height: 13rem !important;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;
      background-size: 100%;
      transition: background-size 1s ease-in-out;
  }
  
  .left:hover {
      background-size: 120%;
  }

  .left h2 {
      font-size: 2.2rem;
  }

  .right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }

  .tab-content {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }

  .day-temp-con .ps-5, .pe-5 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }

  .hours-temp-con .ps-5, .pe-5 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
}